@font-face {
  font-family: Pretendard;
  src: url(../assets/fonts/Pretendard-Typeface/public/static/Pretendard-Regular.otf);
}

:root{
  --bg: #fff;
  --text: #333333;
  font-family: Pretendard;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

.container{
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}